<div class="row">
    <div class="col-md-7">
        <input type="text" id="buscar" placeholder="Dijite nombre o fecha de presentacion para buscar " class="form-control" name="capitulosfiltro"  [(ngModel)]="capitulosfiltro">
    </div> 
</div>
<div class="row">
    <div class="col-md-4 p-4" *ngFor="let capitulos of capitulos | capitulos:capitulosfiltro">
        <div class="card card-photo">
            <div class="card-header">
                <h4><strong>Nombre: </strong>{{capitulos.name}}</h4>
            </div>
            <div class="card-body">
                <h5><strong>Presentacion: </strong> {{capitulos.air_date}}</h5>
                <select class="form-control " onchange="location = this.value;">
                    <option value="">Personajes</option>
                    <option   *ngFor="let capitulos of capitulos.characters" >{{capitulos}}</option>
                </select>
            </div>
           
        </div>
    </div>
   
</div>